@charset "UTF-8";
@import url("footer.css");



html, body {
	width: 100%;
	height: 100%;
}

body {
	background-image: url("../img/bc-1.png");
	background-repeat: no-repeat;
	background-size: 100%;
}
.right {
	float: right;
	padding-right: 20px;
}


header {
	margin-top: 65px;
	padding: 0 25px;
}
header span {
	color: #f7f6f6;
	float: right;
	margin-top: 28px;
	font-size: 0.85em;
}
header span a {
	color: inherit;
	border-bottom: 1px dotted #f7f6f6;
}

content div.bc-2 {
	background-image: url("../img/bc2.png");
	background-repeat: no-repeat;
	background-size: 100%;
	padding: 50px 25px 190px;
	margin-top: 30px;
}
content div.bc-2 div.wrap {
	display: box;
	display: -moz-box;
	display: -webkit-box;
	width: 100%;
	margin-top: 12px;
}
content div.bc-2 div.wrap div.underline-box {
	position: relative;
	box-flex: 1;
	-moz-box-flex: 1;
	-webkit-box-flex: 1;
}
content div.bc-2 div.wrap div.underline-box img.underline-img {
	position: absolute;
	bottom: 2px;
	width: 100%;
	height: 2px;
}
content div.bc-2 div.wrap div.underline-box a {
	color: #070707;
	padding: 0 10px;
	position: relative;
	top: 5px;
}
content div.bc-2 div.wrap div.underline-box img.right {
	width: 28px;
}
content div.bc-2 div.wrap div.underline-box span.right {
}
